html, body {
    margin:0;
  }

.container {
  position: relative;
}

#background {
  position: relative;
}

#github {
    position: fixed;
    top: 3%;
    left: 92%;
    opacity: 0.5;
}

#linkedin {
    position: fixed;
    top: 3%;
    left: 88%;
    opacity: 0.5;

}

h1 {
  position:absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Gilda Display', serif;
  font-size: 4em;
  color:rgba(63, 15, 88, 0.5);
}

h2 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lora', serif;
  font-size: 1.em;
  color:rgba(62, 15, 88, 0.361);
}

h3 {
  font-family: 'Gilda Display', serif;
  font-size: 1.1em;
  color:rgba(63, 15, 88, 0.5);
}

.info {
    position:absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff3b;
    padding: 30px 50px;
    font-family: 'Gilda Display', serif;
    color:rgba(63, 15, 88, 0.5);
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(144, 199, 243, 0.25);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.prototype {
    display:flex;
    justify-content: space-around;
    column-gap: 5px;
}

.box {
    flex-grow: 5;
}

.container2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.problem {
    position:absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    background: #ffffff3b;
    padding: 25px 40px;
    font-family: 'Gilda Display', serif;
    color:rgba(63, 15, 88, 0.5);
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(144, 199, 243, 0.25);
}
.solution {
    position:absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    background: #ffffff3b;
    padding: 25px 40px;
    font-family: 'Gilda Display', serif;
    color:rgba(63, 15, 88, 0.5);
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(144, 199, 243, 0.25);
}

.evidence {
    position:absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: #ffffff3b;
    padding: 20px 35px;
    font-family: 'Gilda Display', serif;
    color:rgba(63, 15, 88, 0.5);
    font-size: 1.5em;
    border-radius: 25px;
    flex-grow:2;
    box-shadow: 0 0 20px rgba(144, 199, 243, 0.25);
}
.methods {
    position:absolute;
    top: 71%;
    left: 72%;
    transform: translate(-50%, -50%);
    background: #ffffff3b;
    padding: 20px 35px;
    font-family: 'Gilda Display', serif;
    color:rgba(63, 15, 88, 0.5);
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(144, 199, 243, 0.25);
}

.roles {
    position:absolute;
    top: 90%;
    left: 49%;
    transform: translate(-50%, -50%);
    background: #ffffff3b;
    padding: 20px 35px;
    font-family: 'Gilda Display', serif;
    display: flex;
    flex-direction:column;
    color:rgba(63, 15, 88, 0.5);
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(144, 199, 243, 0.25);
}

p {
    font-family: 'Gilda Display', serif;
    font-size: .7em;
    color:rgba(62, 15, 88, 0.779);
    line-height:1.25;
}

span {
    font-family: 'Lora', serif;
    font-size: 1em;
}

.quotes {
    font-size: .6em;
}

.method-flex {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}